@import "../../../css/variable";
:host /deep/ {
  .popover-content{
    padding:9px 0px !important;
  }
  .navbar-left{
    .popover{
      max-width: 400px;
      width: 400px;
    }
    .popover-content{
      padding:0 !important;
      .form-control{
        border:0 !important;
      }
    }
  }
  
}

.mv-navbar{
  background-color: #F5F5F5;
  height: 50px;
  
  .navbar-left{
    .navbar-item{
      cursor:pointer;
      font-size: 25px !important;
      margin-left: 10px;
      margin-top: 7px;
      display: inline-block;
      .fa-life-bouy{
        font-size: 22px;
        margin-left: 8px;
      }
    }
  }

  .navbar-right{
    .avatar{
      width: 40px;
      height: 40px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 5px;
      img{
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
  }
}