@import "../../../css/variable";
:host /deep/ {
    .modal-dialog {
        max-width: 700px;
        .modal-body {
            padding: 0;
        }
    }
}

.step-container {
    padding: 10px;
    .step-list {
        .step {
            padding: 5px;
            cursor: pointer;
            &:hover {
                background-color: $select-color;
            }
            .step-toobar {
                float: right;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.modal-body {
    .body-left {
        width: 50%;
        float: left;
        padding: 10px;
    }
    .body-line {
        width: 3px;
        height: 100%;
        background-color: #e1e1e1;
        display: inline-block;
        position: absolute;
    }
    .body-right {
        width: 50%;
        float: left;
        padding: 10px;
        height: 100%;
	    position: absolute;
	    right: 0;
        .checker-list {
            .checker {
                padding: 5px;
                cursor: pointer;
                &:hover {
                    background-color: $select-color;
                }
                .checker-toobar {
                    float: right;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        .checker-form{
        	position: absolute;
		    bottom: 0px;
		    width: 100%;
		    right: 0;
	        padding: 0 10px;
        	border-top:1px solid $split-color;
        	.row{
        		margin: 0;
        	}
        	.col-xs-6{
        		padding:0;
        	}
        }
    }
}
