<mv-nav [title]="nodeTitle" [formObj]="form" [rightBtnConf]="nodeRightBtnConf" [navigate]="navagate"></mv-nav>
<div class="node-container">
  <form #form="ngForm">
    <div class="form-group">
      <input type="text" name="title" class="form-control" placeholder="title"
             #title="ngModel" [(ngModel)]="nodeModel.title" required>
      <p class="valid-error" [hidden]="title.valid || title.pristine">不能为空</p>
    </div>
    <div class="form-group">
      <input type="text" name="sleep" class="form-control" placeholder="sleep"
             #sleep="ngModel" [(ngModel)]="nodeModel.sleep" number>
      <p class="valid-error" [hidden]="sleep.valid || sleep.pristine">必须数字</p>
    </div>
  </form>
</div>
<mv-nav [title]="'路径'" [topBottom]="true" [rightBtnConf]="pathRightBtnConf"></mv-nav>
<div class="step-container">
  <div class="step-list">
    <div *ngFor="let path of nodeModel.paths ; let i = index;" class="step" (click)="openPath(path,i)">
      {{path.title}}
      <div class="step-toobar" (click)="$event.stopPropagation()">
        <i class="fa fa-trash"
           mwlConfirmationPopover
           [title]="'确认删除吗?'"
           (confirm)="delPath(path,i)"
           (click)="$event.stopPropagation()"
           placement="left"></i>
      </div>
    </div>
  </div>
</div>
