<template #content ngbModalContainer let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')">
            <span>&times;</span>
        </button>
        <h4 class="modal-title">{{pathTitle}}</h4>
    </div>
    <div class="modal-body clearfix">
        <div class="body-left">
            <div class="form-group">
                <input type="text"  [(ngModel)]="pathModel.title" class="form-control" placeholder="title">
            </div>
            <div class="form-group radio">
                <label *ngFor="let type of pathTypes">
                    <input name="type" type="radio"  [(ngModel)]="pathModel.type"   value="{{type}}" (click)="typeChange(type)"> {{type}}
                </label>
            </div>
            <div class="form-group radio" *ngIf="pathFieldSet.has('selector')">
                <label  *ngFor="let selector of selectors">
                    <input  name="selector"  [(ngModel)]="pathModel.selector"  type="radio" value="{{selector}}"> {{selector}}
                </label>
            </div>
            <div class="form-group"  *ngIf="pathFieldSet.has('element')">
                <input type="text" [(ngModel)]="pathModel.element" class="form-control" placeholder="element">
            </div>
            <div class="form-group"  *ngIf="pathFieldSet.has('value')">
                <input type="text" [(ngModel)]="pathModel.value" class="form-control" placeholder="value">
            </div>
            <div class="form-group"  *ngIf="pathFieldSet.has('index')">
                <input type="text" [(ngModel)]="pathModel.index" class="form-control" placeholder="index">
            </div>
            <div class="form-group"  *ngIf="pathFieldSet.has('mode')">
                <input type="text" [(ngModel)]="pathModel.mode" class="form-control" placeholder="mode">
            </div>
            <div class="form-group"  *ngIf="pathFieldSet.has('filter')">
                <input type="text" [(ngModel)]="pathModel.filterStr" class="form-control" placeholder="filter">
            </div>
            <div class="form-group"  *ngIf="pathFieldSet.has('limit')">
                <input type="text" [(ngModel)]="pathModel.limit" class="form-control" placeholder="limit">
            </div>
            <div class="form-group" >
              <input type="text" [(ngModel)]="pathModel.sleep" number  class="form-control" placeholder="sleep">
              <p class="valid-error" [hidden]="sleep.valid || sleep.pristine">必须数字</p>
            </div>
        </div>
        <div class="body-line"></div>
        <div class="body-right">
            <mv-nav [title]="checkTitle"  [rightBtnConf]="rightBtnConf"></mv-nav>
            <div class="checker-list">
                <div class="checker" *ngFor="let checker of pathModel.checker; let i = index;" (click)="openChecker(checker,i)">
                    {{checker.title}}
                    <div class="checker-toobar" (click)="delChecker(i)">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <div class="checker-form">
                <div class="form-group">
                  <input type="text"  [(ngModel)]="checkerModel.title" class="form-control" placeholder="title">
                </div>
                <div class="form-group radio">
                    <label *ngFor="let type of checks">
                      <input name="type" type="radio"  value="{{type}}" (click)="checkChange(type)"> {{type}}
                    </label>
                </div>
                <div class="form-inline form-group radio"  *ngIf="checkFieldSet.has('selector')">
                  <label  *ngFor="let selector of selectors">
                    <input  name="checkerelector"  [(ngModel)]="checkerModel.selector"  type="radio" value="{{selector}}"> {{selector}}
                  </label>S
                </div>
                <div class="form-inline form-group" *ngIf="checkFieldSet.has('element')">
                    <input type="text" [(ngModel)]="checkerModel.element"  class="form-control" placeholder="element">
                </div>
                <div class="form-inline form-group" *ngIf="checkFieldSet.has('op')">
                  <input type="text" [(ngModel)]="checkerModel.op"  class="form-control" placeholder="op">
                </div>
                <div class="form-inline form-group" *ngIf="checkFieldSet.has('value')">
                      <input type="text" [(ngModel)]="checkerModel.value"  class="form-control" placeholder="value">
                </div>
                <div class="form-inline form-group" *ngIf="checkFieldSet.has('cmdCode')">
                      <input type="text" [(ngModel)]="checkerModel.cmdCode"  class="form-control" placeholder="cmdCode">
                </div>
                <div class="form-inline form-group" *ngIf="checkFieldSet.has('eexist')">
                      <input type="text" [(ngModel)]="checkerModel.eexist"  class="form-control" placeholder="eexist">
                </div>
                <div class="form-inline form-group" *ngIf="checkFieldSet.has('paths')">
                      <input type="text" [(ngModel)]="checkerModel.paths"  class="form-control" placeholder="paths">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('Close click')">保存</button>
    </div>
</template>
<mv-nav [title]="nodeTitle" [formObj]="form" [rightBtnConf]="nodeRightBtnConf" [navigate]="navagate"></mv-nav>
<div class="node-container">
    <form #form="ngForm">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="title"
            #title="ngModel" [(ngModel)]="nodeModel.title" required>
            <p class="valid-error" [hidden]="title.valid || title.pristine">不能为空</p>
        </div>
        <div class="form-group">
            <input type="text" name="sleep" class="form-control" placeholder="sleep"
            #sleep="ngModel" [(ngModel)]="nodeModel.sleep" number>
            <p class="valid-error" [hidden]="sleep.valid || sleep.pristine">必须数字</p>
        </div>
    </form>
</div>
<mv-nav [title]="'路径'" [topBottom]="true" [rightBtnConf]="pathRightBtnConf"></mv-nav>
<div class="step-container">
    <div class="step-list">
        <div *ngFor="let path of nodeModel.paths ; let i = index;" class="step" >
            {{path.title}}
            <div class="step-toobar">
                <i class="fa fa-trash" (click)="delPath(path,i)"></i>
                <i class="fa fa-plus" (click)="openPath(path,i)"></i>
            </div>
        </div>
    </div>
</div>
