<div class="uc-group">
    <div class="group-list">
        <div class="mv-list">
            <div class="list-header row">
                <div class="col-8">UC名称</div>
                <div class="col-4">负责人</div>
            </div>
            <div class="list-body" [dragula]='"uc-list"' [dragulaModel]='ucArray'>
                <div class="list-item row" *ngFor="let uc of ucArray" (click)="showUc(uc)" [ngClass]="{select:uc==selectUc}">
                    <div class="col-8">{{uc.title}}</div>
                    <div class="col-4">{{uc.director}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="line pull-left"></div>
    <div class="group-info" [style.height.px]="groupInfoHeight" (window:resize)="onResize($event)">
        <router-outlet></router-outlet>
    </div>
</div>
