<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
    <span>&times;</span>
  </button>
  <h4 class="modal-title">{{pathTitle}}</h4>
</div>
<div class="modal-body clearfix">
  <div class="body-left">
    <div class="form-group">
      <input type="text" [(ngModel)]="pathModel.title" class="form-control" placeholder="title">
    </div>
    <div class="form-group radio">
      <label *ngFor="let type of pathTypes">
        <input name="type" type="radio" [(ngModel)]="pathModel.type" value="{{type}}" (click)="typeChange(type)">
        {{type}}
      </label>
    </div>
    <div class="form-group radio" *ngIf="pathFieldSet.has('selector')">
      <label *ngFor="let selector of selectors">
        <input name="selector" [(ngModel)]="pathModel.selector" type="radio" value="{{selector}}"> {{selector}}
      </label>
    </div>
    <div class="form-group" *ngIf="pathFieldSet.has('element')">
      <label class="col-sm-2 pull-left ">element:</label>
      <input type="text" [(ngModel)]="pathModel.element" class="form-control col-sm-10" placeholder="element">
    </div>
    <div class="form-group" *ngIf="pathFieldSet.has('value')">
      <label class="col-sm-2 pull-left ">value :</label>
      <input type="text" [(ngModel)]="pathModel.value" class="form-control col-sm-10" placeholder="value">
    </div>
    <div class="form-group" *ngIf="pathFieldSet.has('index')">
      <label class="col-sm-2 pull-left ">index :</label>
      <input type="text" [(ngModel)]="pathModel.index" class="form-control col-sm-10" placeholder="index">
    </div>
    <div class="form-group" *ngIf="pathFieldSet.has('mode')">
      <label class="col-sm-2 pull-left ">mode :</label>
      <input type="text" [(ngModel)]="pathModel.mode" class="form-control col-sm-10" placeholder="mode">
    </div>
    <div class="form-group" *ngIf="pathFieldSet.has('filter')">
      <label class="col-sm-2 pull-left ">filter :</label>
      <input type="text" [(ngModel)]="pathModel.filterStr" class="form-control col-sm-10" placeholder="filter">
    </div>
    <div class="form-group" *ngIf="pathFieldSet.has('limit')">
      <label class="col-sm-2 pull-left ">limit :</label>
      <input type="text" [(ngModel)]="pathModel.limit" class="form-control col-sm-10" placeholder="limit">
    </div>
    <div class="form-group">
      <label class="col-sm-2 pull-left ">sleep :</label>
      <input type="text" [(ngModel)]="pathModel.sleep" number class="form-control col-sm-10" placeholder="sleep">
      <!--<p class="valid-error" [hidden]="sleep.valid || sleep.pristine">必须数字</p>-->
    </div>
  </div>
  <div class="body-line"></div>
  <div class="body-right">
    <mv-nav [title]="checkTitle" [rightBtnConf]="rightBtnConf"></mv-nav>
    <div class="checker-list">
      <div class="checker" *ngFor="let checker of pathModel.checker; let i = index;" (click)="openChecker(checker,i)">
        {{checker.title}}
        <div class="checker-toobar" (click)="delChecker(i)">
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </div>
    <div class="checker-form">
      <div class="form-group">
        <input type="text" [(ngModel)]="checkerModel.title" class="form-control" placeholder="title">
      </div>
      <div class="form-group radio">
        <label *ngFor="let type of checks">
          <input name="checkType" type="radio" value="{{type}}" [(ngModel)]="checkerModel.type" (click)="checkChange(type)"> {{type}}
        </label>
      </div>
      <div class="form-inline form-group radio" *ngIf="checkFieldSet.has('selector')">
        <label *ngFor="let selector of selectors">
          <input name="checkerelector" [(ngModel)]="checkerModel.selector" type="radio" value="{{selector}}">
          {{selector}}
        </label>
      </div>
      <div class="form-inline form-group" *ngIf="checkFieldSet.has('element')">
        <label class="col-sm-2 pull-left ">element:</label>
        <input type="text" [(ngModel)]="checkerModel.element" class="form-control col-sm-10" placeholder="element">
      </div>
      <div class="form-inline form-group" *ngIf="checkFieldSet.has('op')">
        <label class="col-sm-2 pull-left ">op:</label>
        <input type="text" [(ngModel)]="checkerModel.op" class="form-control col-sm-10" placeholder="op">
      </div>
      <div class="form-inline form-group" *ngIf="checkFieldSet.has('value')">
        <label class="col-sm-2 pull-left ">value:</label>
        <input type="text" [(ngModel)]="checkerModel.value" class="form-control col-sm-10" placeholder="value">
      </div>
      <div class="form-inline form-group" *ngIf="checkFieldSet.has('cmdCode')">
        <label class="col-sm-2 pull-left ">cmdCode:</label>
        <input type="text" [(ngModel)]="checkerModel.cmdCode" class="form-control col-sm-10" placeholder="cmdCode">
      </div>
      <div class="form-inline form-group" *ngIf="checkFieldSet.has('eexist')">
        <label class="col-sm-2 pull-left ">eexist:</label>
        <input type="text" [(ngModel)]="checkerModel.eexist" class="form-control col-sm-10" placeholder="eexist">
      </div>
      <div class="form-inline form-group" *ngIf="checkFieldSet.has('paths')">
        <label class="col-sm-2 pull-left ">paths:</label>
        <input type="text" [(ngModel)]="checkerModel.paths" class="form-control col-sm-10" placeholder="paths">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close(pathModel)">保存</button>
</div>
