<mv-nav [title]="ucMode?.name"></mv-nav>
<div class="uc-container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="uc名称" value="{{ucMode?.name}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="ucKey" value="{{ucMode?.ucKey}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="sleep" value="{{ucMode?.sleep}}">
    </div>
    <div class="form-group">
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="ucMode.build"> build
        </label>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox"[(ngModel)]="ucMode.handler"> handler
        </label>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="ucMode.filter"> filter
        </label>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="ucMode.only"> only
        </label>
    </div>
    <div class="line-split">
        <div class="line-tile">节点</div>
        <div class="line"></div>
    </div>
    <div class="node-list">
        <div class="node leve1" *ngFor="let node of nodeList" (click)="showNode(node)">
            {{node.name}}
            <div class="node-toobar">
                <i class="fa fa-trash"></i>
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <!-- <div class="node leve1" (click)="showNode()">
        	验证输入没有的用户
        	<div class="node-toobar">
        		<i class="fa fa-trash"></i>
        		<i class="fa fa-plus"></i>
        	</div>
        </div>
        <div class="node leve2">
        	验证输入没有的用户
        	<div class="node-toobar">
        		<i class="fa fa-trash"></i>
        		<i class="fa fa-plus"></i>
        	</div>
        </div>
        <div class="node leve1">
        	验证输入没有的用户
        	<div class="node-toobar">
        		<i class="fa fa-trash"></i>
        		<i class="fa fa-plus"></i>
        	</div>
        </div> -->
    </div>
</div>
