<mv-nav [title]="ucMode?.name" [formObj]="form" [rightBtnConf]="rightBtnConf" [code]="ucMode?.code"></mv-nav>
<div class="uc-container">
    <form #form="ngForm">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="uc名称" #title="ngModel" [(ngModel)]="ucMode.title" required>
            <p class="valid-error" [hidden]="title.valid || title.pristine">不能为空</p>
        </div>
        <div class="form-group">
            <input type="text" name="ucKey" class="form-control" placeholder="ucKey" #ucKey="ngModel" [(ngModel)]="ucMode.ucKey" required>
            <p class="valid-error" [hidden]="ucKey.valid || ucKey.pristine">不能为空</p>
        </div>
        <div class="form-group">
            <input type="text" name="sleep" class="form-control" placeholder="sleep" #sleep="ngModel" [(ngModel)]="ucMode.sleep" number>
            <p class="valid-error" [hidden]="sleep.valid || sleep.pristine">必须数字</p>
        </div>
        <div class="form-group">
            <label>
                <input  name="build" type="checkbox" [(ngModel)]="ucMode.build"> build
            </label>
            <label >
                <input  name="handler" type="checkbox" [(ngModel)]="ucMode.handler"> handler
            </label>
            <label>
                <input name="filter" type="checkbox" [(ngModel)]="ucMode.filter"> filter
            </label>
            <label >
                <input name="only" type="checkbox" [(ngModel)]="ucMode.only"> only
            </label>
        </div>
    </form>
</div>
<mv-nav [title]="'节点'" [rightBtnConf]="nodeRightBtnConf" [topBottom]="true"></mv-nav>
<div class="node-container">
    <div class="node-list">
        <div class="node leve1" *ngFor="let node of ucMode?.nodes" (click)="showNode(node)">
            {{node.title}}
            <div class="node-toobar" (click)="$event.stopPropagation()">
                <i class="fa fa-trash"
                    mwlConfirmationPopover
                    [title]="'确认删除吗?'"
                    (confirm)="delNode(node)"
                    (click)="$event.stopPropagation()"
                    placement="left"></i>
            </div>
        </div>
    </div>
</div>
